<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">


    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="level">TRACE</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Property>
    </Properties>

    <Appenders>
        <RollingFile
                name="all"
                fileName="${LOG_DIR}/application.log"
                filePattern="${LOG_DIR}/application.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB" />
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="all" level="${level}" />
            <AppenderRef ref="Console" level="${level}" />

        </Root>
    </Loggers>

</Configuration>